body{
    background-color: #99a3a4;
}
h1{
    color: white;
    margin: 8% 1% 1% 5%;
    padding: 1%;
}
tr{
    margin: 1%;
    padding: 1%;
}
td{
    margin: 1%;
    padding: 1% 3%;
}
table{
    width: 80%;
    margin: 1%;
}