body {
	background-color: #99a3a4;
}
.container1 {
  background-color: #99a3a4;
  text-align: center;
  margin: auto;
  height: 100%;
  font-family: comic sans ms;
}
.inner{
	margin-top: 50px;
	font-size: 50px;
	color:white;
	text-shadow: 3px 3px #000000;
}
.inner1 {
	margin-top: 50px;
	font-size: 50px;
	color:white;
	text-shadow: 3px 3px #000000;
}
.inner2 {
	
	margin-top: 50px;
	font-size: 30px;
	color:yellowgreen;
	text-shadow: 3px 3px #000000;
}
#category{
	color: #c6faff;
	align-content: center;
}

.image1 {
	max-width: 90%;
	max-height: 90%;
	margin: 0 auto;
	box-shadow: 5px 5px;
	background-color: white;
}
.category {
	box-shadow: 10px 10px black;
	padding-top: 20px;
	background-color: #e74c3c;
	border: 5px;
	height: 350px;
	width: 250px;
	min-width: 350px;
	margin-left: 100px;
	margin-top: 20px;
	float: left;
}
a {
	color: aliceblue;
	text-decoration: none;
}

.extrainfo {
	margin-top: 50px;
	font-size: xx-large;
	float: right;
	color: white;
}

select {
	background-color: bisque;
	width: 200px;
	height: 9%;
}
#comp {
	margin-top: 350px;
}