*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
div.head{
  height: 15%;
  background: rgba(164, 28, 46, 1);
  position:fixed;
  top: 1px;
  left: 0;
  right: 0;
}

div.name, div.slogan{
  padding-left: 1%;
  color: #99A3A4;
  text-shadow: 2px 1px #000000;
}
div.name{
  padding-top: 0.5%;
  font-family: fantasy;
  font-size: 30px;
}
div.slogan{
  padding-top: 0.5%;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-shadow: 2px 1px #000000;
}
nav{
  padding-top: 1%;
  display: flex;
  float: right;
}
ul.navlinks li{
  list-style: none;
  text-shadow: 3px 1px black;
}
ul.navlinks li:hover{
	
	box-shadow:
    0 0 5px 5px #fff,  /* inner white */
    0 0 5px 5px rgb(250, 165, 165), /* middle magenta */
    0 0 5px 5px #0ff; /* outer cyan */

}

ul.navlinks{
  display: flex;
  justify-content: space-around;
  width: 75vh;
  
}
ul.navlinks a{
  text-decoration: none;
  color: #99A3A4;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

main{
  position:fixed;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 10%;
  overflow-x: hidden; 
  overflow-y: auto;
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  }
}