.title1 {
    font-size: xx-large;
    font-family:comic sans ms;
    text-align: center;
}
.item1 {
    margin-left: 100px;
    margin-right: 50px;
    border: 2px solid;
    border-color: blueviolet;
}
.lap {
    
    max-height: fit-content;
    max-width: 30%;
    
}
.itemspec {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    border: 2px solid;
    border-color: black;
    text-align: left;
    float: right;
}